@import '../variables.css';

$button-height: 2.25rem;

.typography {
  box-sizing: border-box;
  &.h1, &.h2, &.h3, &.h4, &.h5, &.h6, &.subtitle1, &.subtitle2 {
    font-family: $headlines-subtitles-font-stack;
  }
  &.body1, &.body2, &.button, &.caption, &.overline {
    font-family: $body-caption-font-stack;
  }
  &.h1, &.h2 {
    font-weight: 300;
  }
  &.h3, &.h4, &.h5, &.subtitle1, &.body1, &.body2, &.caption, &.overline {
    font-weight: 400;
  }
  &.h6, &.subtitle2, &.button {
    font-weight: 500;
  }
  &.button, &.overline {
    text-transform: uppercase;
  }
  &.h1 {
    font-size: 6rem;
    letter-spacing: -0.09375rem;
  }
  &.h2 {
    font-size: 3.75rem;
    letter-spacing: -0.03125rem;
  }
  &.h3 {
    font-size: 3rem;
    letter-spacing: 0;
  }
  &.h4 {
    font-size: 2.125rem;
    letter-spacing: 0.015625rem;
  }
  &.h5 {
    font-size: 1.5rem;
    letter-spacing: 0;
  }
  &.h6 {
    font-size: 1.25rem;
    letter-spacing: 0.009375rem;
  }
  &.subtitle1 {
    font-size: 1rem;
    letter-spacing: 0.009375rem;
  }
  &.subtitle2 {
    font-size: 0.875rem;
    letter-spacing: 0.00625rem;
  }
  &.body1 {
    font-size: 1rem;
    letter-spacing: 0.03125rem;
  }
  &.body2 {
    font-size: 0.875rem;
    letter-spacing: 0.015625rem;
  }
  &.button {
    font-size: 0.875rem;
    letter-spacing: 0.078125rem;
  }
  &.caption {
    font-size: 0.75rem;
    letter-spacing: 0.025rem;
  }
  &.overline {
    font-size: 0.625rem;
    letter-spacing: 0.09375rem;
  }
  @each $color in $colors {
    &.$(color) {
      color: var(--$(color)-color);
    }
    &.text-$(color) {
      color: var(--on-$(color)-color);
    }
  }
  &.inherit {
    color: 'inherit'
  }
  &.error {
    color: var(--error-color);
  }
}