.skeleton {
  display: grid;
  grid-template-columns: 17.5rem 1fr;
  height: 100vh;
}

.component-list {
  height: 100vh;
}

.doc {
  display: grid;
  grid-template-rows: 2fr 1fr;
  height: 100vh;
}

.canvas {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.property-list {
  padding: 1rem;
  background-color: var(--surface-color);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}
