.skeleton {
  display: grid;
  grid-template-columns: 17.5rem 1fr;
  height: 100vh;
}

.component-list {
  height: 100vh;
}

.doc {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: calc(100vh - 2rem);
  overflow-y: auto;
  overflow-x: hidden;
}
