@import '../variables.css';

$button-height: 2.25rem;

.button {
  position: relative;
  border-radius: $normal-border-radius;
  box-sizing: content-box;
  line-height: normal;
  padding: 0 $normal-padding;
  text-transform: uppercase;
  cursor: pointer;
  @each $color in $colors {
    &.$(color).contained, &.$(color).text {
      height: $button-height;
      border: 0px solid;
    }
    &.$(color).outlined, &.$(color).text {
      background-color: rgba(0, 0, 0, 0);
      color: var(--$(color)-color);
      --ripple-color: var(--$(color)-color);
    }
    &.$(color).contained {
      background-color: var(--$(color)-color);
      color: var(--on-$(color)-color);
      --ripple-color: var(--on-$(color)-color);
    }
    &.$(color).outlined {
      border: $normal-border-width solid var(--$(color)-color);
      height: calc($button-height - ($normal-border-width * 2));
    }
  }
}
