@import '../variables.css';

$button-height: calc($normal-surface-height * 0.75);

.sjsmlui-button {
  position: relative;
  border-radius: $normal-border-radius;
  box-sizing: content-box;
  line-height: normal;
  padding: 0 $normal-padding;
  cursor: pointer;
  --ripple-border-radius: $normal-border-radius;
  &.contained, &.text {
    height: $button-height;
    border: unset;
  }
  &.outlined, &.text {
    background-color: rgba(0, 0, 0, 0);
  }
  &.outlined {
    height: calc($button-height - ($normal-border-width * 2));
  }
  @each $color in $colors {
    &.$(color).outlined, &.$(color).text {
      color: var(--$(color)-color);
      --ripple-color: var(--$(color)-color);
    }
    &.$(color).contained {
      background-color: var(--$(color)-color);
      color: var(--on-$(color)-color);
      --ripple-color: var(--on-$(color)-color);
    }
    &.$(color).outlined {
      border: $normal-border-width solid var(--$(color)-color);
    }
  }
}
