@import '../variables.css';

$default-border-color: rgba(255, 255, 255, 0.2);

.sjsmlui-text-field {
  display: flex;
  color: $on-surface-color;
  position: relative;
  padding: 0.4rem 0.5rem 0.875rem;;
  margin: unset;
  & > input {
    flex: 1;
    box-sizing: content-box;
    line-height: 1.5rem;
    font-size: 1rem;
    letter-spacing: 0.009375rem;
    background-color: transparent;
    color: inherit;
    outline: none;
    padding: 0 0.5rem;
    border: unset; 
  }
  & > legend {
    overflow: hidden;
  }
  & > input:placeholder-shown + legend {
    width: 0;
    padding: unset;
  }
  &.outlined {
    border: 0.125rem solid $default-border-color;
    border-radius: $normal-border-radius;
    &:focus-within {
      border-color: $primary-color;
    }
    & > legend {
      padding: 0 0.5rem;
    }
  }
  &.filled {
    background-color: $surface-color;
  }
}
