@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$surface-color: #1d1d1d;
$on-surface-color: textColor($surface-color);

$primary-color: #6200ee;
$on-primary-color: textColor($primary-color);

$secondary-color: #03dac6;
$on-secondary-color: textColor($secondary-color);

$error-color: #b00020;
$on-error-color: textColor($error-color);

$normal-padding: 0.5rem;
$normal-border-radius: 0.25rem;
$normal-border-width: 0.0625rem;
$normal-surface-height: 3rem;

$headlines-subtitles-font-stack: "Roboto", "Helvetica", "Arial", sans-serif;
$body-caption-font-stack: "Roboto", "Helvetica", "Arial", sans-serif;

:root {
  --surface-color: $surface-color;
  --on-surface-color: $on-surface-color;

  --primary-color: $primary-color;
  --on-primary-color: $on-primary-color;
    
  --secondary-color: $secondary-color;
  --on-secondary-color: $on-secondary-color;
    
  --normal-padding: $normal-padding;
  --normal-border-radius: $normal-border-radius;
  --normal-border-width: $normal-border-width;
  --normal-surface-height: $normal-surface-height;
    
  --headlines-subtitles-font-stack: $headlines-subtitles-font-stack;
  --body-caption-font-stack: $body-caption-font-stack;
}
