$primary-color: var(--primary-color);
$on-primary-color: var(--on-primary-color);

$secondary-color: var(--secondary-color);
$on-secondary-color: var(--on-secondary-color);

$normal-padding: var(--normal-padding);
$normal-border-radius: var(--normal-border-radius);
$normal-border-width: var(--normal-border-width);

$colors: (primary, secondary);
